body {
    font-family: Arial, sans-serif;
    background-color:#b4791f;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

.form-wrapper {
    display: flex;
}

.form-container {
    flex: 1;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.form-container.active {
    opacity: 1;
    pointer-events: auto;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: #0056b3;
}

.forgot-password {
    display: block;
}
.img-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.img-container img {
    max-width: 100%;
    height: auto;
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
